body {
    background-color: #ddd;
    margin: 0;
}

#container {
    background-color: #c0c0c0;
    height: 700px;
    width: 500px;
    box-shadow: 0 0 5px 10px #000;
    margin: 15px auto;
    padding: 20px 15px;
    border-radius: 25px;
}

#screen {
    width: 75%;
    margin: 10px auto;
    border: 2px solid #000;
    height: 24px;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 29px;
    text-align: right;
}

hr {
    height: 3px;
    border: 2px solid #777;
    background-color: #999;
    border-radius: 10px;
}

.row {
    display: flex;
}

.row75 {
    display: flex;
    width: 75%;
}

#lastColumn {
    display: flex;
    flex-direction: column;
    height: 600px;
}

div {
    height: 17%;
}

button {
    background-color: #004;
    color: #fff;
    border-radius: 25px;
    margin: 15px;
    font-size: 30px;
}

button:hover {
    background-color: #00f;
    box-shadow: 0 0 10px 5px #00f;
}

#plus, #equals {
    flex: 3;
}

#zero {
    flex: 2;
}

#dot, #minus, button, #lastColumn {
    flex: 1;
}
