body {
    background-color: #ddd;
    margin: 0;
}

#container {
    background-color: #c0c0c0;
    height: 700px;
    width: 500px;
    box-shadow: 0 0 5px 10px #000;
    margin: 15px auto;
    padding: 20px 15px;
    border-radius: 25px;
}

#screen {
    width: 75%;
    margin: 15px auto;
    border: 2px solid #000;
    height: 24px;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    padding: 10px;
}

hr {
    height: 3px;
    border: 2px solid #777;
    background-color: #999;
    border-radius: 10px;
}
